{% extends "base.html" %}


{% block body %}
<h2>{{ report.id }} - {{ report.name }}  [EDIT MODE]</h2>

<a href=/a/r/{{ report.id }}>Edit</a>

<h3>pre_script_sql</h3>
{{ report.pre_script }} 

## http://codemirror.net/

<h3>report_sql</h3>
{{ report.body_script  }}

<h3>The sql result</h3>
<table border="1">
{% for row in sql_result %}
<tr>
    {% for field  in row %}
        <td>{{ field }}</td> 
    {% endfor %}
</tr>
{% endfor %}  
</table>
</table>



<h3>post_script</h3>
{{ report.post_script }}

{% endblock %}

