{% extends "base.html" %}

{% block body %}
<h2>{{ report.id }} - {{ report.name }}</h2>

<a href=/a/r/{{ report.id }}>Edit</a>

<h3>pre_script_sql</h3>
{{ report.pre_script }} 

<h3>report_sql</h3>
{{ report.body_script  }}

<h3>The sql result</h3>
<table>
        {% for row in sql_result %}
<tr>
    {% for field  in row %}
        <td>{{ field }}</td> 
    {% endfor %}
</tr>
{% endfor %}  
</table>

<h3>post_script</h3>
{{ report.post_script }}

<br>
<table id="" class="display">
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
            </tr>
            <tr>
                <td>Row 2 Data 1</td>
                <td>Row 2 Data 2</td>
            </tr>
        </tbody>
    </table>


    <br>
    <table id="" class="display">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 2 Data 2</td>
                </tr>
            </tbody>
        </table>
    

{% endblock %}

