{% extends "spoolkit_base.html" %} 

{% block end_of_header %}

<script type=text/javascript>
    $(function() {
      $('a#process_file').bind('click', function() {
        $.getJSON('/_file_process', {
          proglang: $('input[name="proglang"]').val(),
        }, function(data) {
          $("#result").text(data.result);
        });
        return false;
      });
    });
</script>

{% endblock %}

{% block body %}
{{ sp01_text|safe }}


<div class='container'>
        <form>
            <a href=# id=process_file><button class='btn btn-default'>Process files</button></a>
        </form>
    </div>



{% endblock %}
