{% extends "spoolkit_base.html" %} {% block end_of_header %} {% endblock %} {% block body %}

<h2>SAP files to process</h2>

<div>
<p>Select the file you want to load and then press button to load.</p> 
</div>
<form action="/file_process" method="post">

    <button type="submit" name="1" id="myButton" data-loading-text="Loading..." class="btn btn-primary btn-lg" autocomplete="off">
            Load file</button>

            <br><br>
            {% for d in allfiles %} 
            
<p>File path: <samp>{{ d.directory }}</samp></p>

<table class="table table-condensed table-bordered"> 
<tr>
    <th class="text-center">Load</th>
    <th>File name</th>
    <th>File date</th>
    <th class="text-center">File size - MB</th>
    <th>Key field in file</th>
    <th>Column field in file</th>
    <th>DB Table</th>
</tr>        
    {% for f in d.files %}
    <tr>
        <td class="text-center">
        {% if f.keyword is defined %}<input type="radio" name="fullfilename" value="{{ f.fullfilename }}">{% endif %}
        </td>            
        <td><a href="#">{{ f.filename }}</a></td>
        <td>{{ f.filedate }}</td>
        <td class="text-center">{{ f.filesize }}</td>
        <td> {{ f.keyword }} </td>
        <td>{{ f.column_field }} </td>
        <td>{{ f.database_table }} </td>
    </tr>          
    {% endfor %} 
</table>
{% endfor %} 

    </form>    
    <script type="text/javascript">
        $('#myButton').on('click', function () {
            var $btn = $(this).button('loading')
        })
    </script>
{% endblock %}